.smallBox{
    /*float: right;*/

    margin: 0 100px 20px 20px;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background-color: #f7f7fb;
}

td {
    border: 1px solid #ddd;
    padding: 3px;
}


@media only screen and (max-width: 576px) {
    .in-queue {border-left: 3px solid #27a844}
    .mobile-radius {border-top-left-radius: 15px}
}
